/.venv
/data
__pycache__/utils.cpython-311.pyc
lightning_logs/version_19/events.out.tfevents.1733474897.MPX6162MQ7TW
lightning_logs/version_19/hparams.yaml
lightning_logs/version_20/events.out.tfevents.1733474955.MPX6162MQ7TW
lightning_logs/version_20/hparams.yaml
lightning_logs/version_21/events.out.tfevents.1733475184.MPX6162MQ7TW
lightning_logs/version_21/hparams.yaml
lightning_logs/version_22/events.out.tfevents.1733475217.MPX6162MQ7TW
lightning_logs/version_22/hparams.yaml
lightning_logs/version_23/events.out.tfevents.1733475272.MPX6162MQ7TW
lightning_logs/version_23/hparams.yaml
lightning_logs/version_24/events.out.tfevents.1733477024.MPX6162MQ7TW
lightning_logs/version_24/hparams.yaml
lightning_logs/version_25/events.out.tfevents.1733478360.MPX6162MQ7TW
lightning_logs/version_25/hparams.yaml
lightning_logs/version_26/events.out.tfevents.1733478428.MPX6162MQ7TW
lightning_logs/version_26/hparams.yaml
lightning_logs/version_27/events.out.tfevents.1733478946.MPX6162MQ7TW
lightning_logs/version_27/hparams.yaml
lightning_logs/version_28/events.out.tfevents.1733478946.MPX6162MQ7TW
lightning_logs/version_28/hparams.yaml
lightning_logs/version_29/events.out.tfevents.1733479140.MPX6162MQ7TW
lightning_logs/version_29/hparams.yaml
lightning_logs/version_30/events.out.tfevents.1733479206.MPX6162MQ7TW
lightning_logs/version_30/hparams.yaml
lightning_logs/version_31/events.out.tfevents.1733479206.MPX6162MQ7TW
lightning_logs/version_31/hparams.yaml
lightning_logs/version_32/events.out.tfevents.1733479218.MPX6162MQ7TW
lightning_logs/version_32/hparams.yaml
lightning_logs/version_33/events.out.tfevents.1733479218.MPX6162MQ7TW
lightning_logs/version_33/hparams.yaml
lightning_logs/version_34/events.out.tfevents.1733479233.MPX6162MQ7TW
lightning_logs/version_34/hparams.yaml
lightning_logs/version_35/events.out.tfevents.1733479233.MPX6162MQ7TW
lightning_logs/version_35/hparams.yaml
lightning_logs/version_36/events.out.tfevents.1733479368.MPX6162MQ7TW
lightning_logs/version_36/hparams.yaml
lightning_logs/version_37/events.out.tfevents.1733479368.MPX6162MQ7TW
lightning_logs/version_37/hparams.yaml
lightning_logs/version_38/events.out.tfevents.1733479390.MPX6162MQ7TW
lightning_logs/version_38/hparams.yaml
lightning_logs/version_39/events.out.tfevents.1733479423.MPX6162MQ7TW
lightning_logs/version_39/hparams.yaml
lightning_logs/version_40/events.out.tfevents.1733479523.MPX6162MQ7TW
lightning_logs/version_40/hparams.yaml
lightning_logs/version_41/events.out.tfevents.1733479695.MPX6162MQ7TW
lightning_logs/version_41/hparams.yaml
lightning_logs/version_42/events.out.tfevents.1733479751.MPX6162MQ7TW
lightning_logs/version_42/hparams.yaml
lightning_logs/version_43/events.out.tfevents.1733479962.MPX6162MQ7TW
lightning_logs/version_43/hparams.yaml
lightning_logs/version_44/events.out.tfevents.1733480015.MPX6162MQ7TW
lightning_logs/version_44/hparams.yaml
lightning_logs/version_45/events.out.tfevents.1733480280.MPX6162MQ7TW
lightning_logs/version_45/hparams.yaml
lightning_logs/version_46/events.out.tfevents.1733480334.MPX6162MQ7TW
lightning_logs/version_46/hparams.yaml
lightning_logs/version_47/events.out.tfevents.1733488209.MPX6162MQ7TW
lightning_logs/version_47/hparams.yaml
lightning_logs/version_48/events.out.tfevents.1733488263.MPX6162MQ7TW
lightning_logs/version_48/hparams.yaml
lightning_logs/version_49/events.out.tfevents.1733488508.MPX6162MQ7TW
lightning_logs/version_49/hparams.yaml
lightning_logs/version_50/events.out.tfevents.1733488569.MPX6162MQ7TW
lightning_logs/version_50/hparams.yaml
lightning_logs/version_51/events.out.tfevents.1733488657.MPX6162MQ7TW
lightning_logs/version_51/hparams.yaml
lightning_logs/version_52/events.out.tfevents.1733488743.MPX6162MQ7TW
lightning_logs/version_52/hparams.yaml
lightning_logs/version_53/events.out.tfevents.1733489832.MPX6162MQ7TW
lightning_logs/version_53/hparams.yaml
lightning_logs/version_54/events.out.tfevents.1733489884.MPX6162MQ7TW
lightning_logs/version_54/hparams.yaml
lightning_logs/version_55/events.out.tfevents.1733489929.MPX6162MQ7TW
lightning_logs/version_55/hparams.yaml
lightning_logs/version_56/events.out.tfevents.1733489954.MPX6162MQ7TW
lightning_logs/version_56/hparams.yaml
lightning_logs/version_57/events.out.tfevents.1733490007.MPX6162MQ7TW
lightning_logs/version_57/hparams.yaml
lightning_logs/version_58/events.out.tfevents.1733491093.MPX6162MQ7TW
lightning_logs/version_58/hparams.yaml
lightning_logs/version_59/events.out.tfevents.1733491144.MPX6162MQ7TW
lightning_logs/version_59/hparams.yaml
lightning_logs/version_60/events.out.tfevents.1733491766.MPX6162MQ7TW
lightning_logs/version_60/hparams.yaml
lightning_logs/version_61/events.out.tfevents.1733491839.MPX6162MQ7TW
lightning_logs/version_61/hparams.yaml
lightning_logs/version_62/events.out.tfevents.1733491889.MPX6162MQ7TW
lightning_logs/version_62/hparams.yaml
lightning_logs/version_63/events.out.tfevents.1733492385.MPX6162MQ7TW
lightning_logs/version_63/hparams.yaml
lightning_logs/version_64/events.out.tfevents.1733492443.MPX6162MQ7TW
lightning_logs/version_64/hparams.yaml
lightning_logs/version_65/events.out.tfevents.1733492612.MPX6162MQ7TW
lightning_logs/version_65/hparams.yaml
lightning_logs/version_66/events.out.tfevents.1733492662.MPX6162MQ7TW
lightning_logs/version_66/hparams.yaml
.idea/m4_tests.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
lightning_logs/version_100/events.out.tfevents.1733503919.MPX6162MQ7TW
lightning_logs/version_100/hparams.yaml
lightning_logs/version_101/events.out.tfevents.1733503972.MPX6162MQ7TW
lightning_logs/version_101/hparams.yaml
lightning_logs/version_102/events.out.tfevents.1733504354.MPX6162MQ7TW
lightning_logs/version_102/hparams.yaml
lightning_logs/version_103/events.out.tfevents.1733504409.MPX6162MQ7TW
lightning_logs/version_103/hparams.yaml
lightning_logs/version_104/events.out.tfevents.1733505101.MPX6162MQ7TW
lightning_logs/version_104/hparams.yaml
lightning_logs/version_105/events.out.tfevents.1733505155.MPX6162MQ7TW
lightning_logs/version_105/hparams.yaml
lightning_logs/version_67/events.out.tfevents.1733493644.MPX6162MQ7TW
lightning_logs/version_67/hparams.yaml
lightning_logs/version_68/events.out.tfevents.1733493703.MPX6162MQ7TW
lightning_logs/version_68/hparams.yaml
lightning_logs/version_69/events.out.tfevents.1733494683.MPX6162MQ7TW
lightning_logs/version_69/hparams.yaml
lightning_logs/version_70/events.out.tfevents.1733494746.MPX6162MQ7TW
lightning_logs/version_70/hparams.yaml
lightning_logs/version_71/events.out.tfevents.1733494853.MPX6162MQ7TW
lightning_logs/version_71/hparams.yaml
lightning_logs/version_72/events.out.tfevents.1733494925.MPX6162MQ7TW
lightning_logs/version_72/hparams.yaml
lightning_logs/version_73/events.out.tfevents.1733496525.MPX6162MQ7TW
lightning_logs/version_73/hparams.yaml
lightning_logs/version_74/events.out.tfevents.1733496580.MPX6162MQ7TW
lightning_logs/version_74/hparams.yaml
lightning_logs/version_75/events.out.tfevents.1733497904.MPX6162MQ7TW
lightning_logs/version_75/hparams.yaml
lightning_logs/version_76/events.out.tfevents.1733497959.MPX6162MQ7TW
lightning_logs/version_76/hparams.yaml
lightning_logs/version_77/events.out.tfevents.1733498635.MPX6162MQ7TW
lightning_logs/version_77/hparams.yaml
lightning_logs/version_78/events.out.tfevents.1733498692.MPX6162MQ7TW
lightning_logs/version_78/hparams.yaml
lightning_logs/version_79/events.out.tfevents.1733499101.MPX6162MQ7TW
lightning_logs/version_79/hparams.yaml
lightning_logs/version_80/events.out.tfevents.1733499157.MPX6162MQ7TW
lightning_logs/version_80/hparams.yaml
lightning_logs/version_81/events.out.tfevents.1733499611.MPX6162MQ7TW
lightning_logs/version_81/hparams.yaml
lightning_logs/version_82/events.out.tfevents.1733499679.MPX6162MQ7TW
lightning_logs/version_82/hparams.yaml
lightning_logs/version_83/events.out.tfevents.1733499752.MPX6162MQ7TW
lightning_logs/version_83/hparams.yaml
lightning_logs/version_84/events.out.tfevents.1733499811.MPX6162MQ7TW
lightning_logs/version_84/hparams.yaml
lightning_logs/version_85/events.out.tfevents.1733499914.MPX6162MQ7TW
lightning_logs/version_85/hparams.yaml
lightning_logs/version_86/events.out.tfevents.1733499972.MPX6162MQ7TW
lightning_logs/version_86/hparams.yaml
lightning_logs/version_87/events.out.tfevents.1733500432.MPX6162MQ7TW
lightning_logs/version_87/hparams.yaml
lightning_logs/version_88/events.out.tfevents.1733500494.MPX6162MQ7TW
lightning_logs/version_88/hparams.yaml
lightning_logs/version_89/events.out.tfevents.1733501084.MPX6162MQ7TW
lightning_logs/version_89/hparams.yaml
lightning_logs/version_90/events.out.tfevents.1733501143.MPX6162MQ7TW
lightning_logs/version_90/hparams.yaml
lightning_logs/version_91/events.out.tfevents.1733501931.MPX6162MQ7TW
lightning_logs/version_91/hparams.yaml
lightning_logs/version_92/events.out.tfevents.1733501990.MPX6162MQ7TW
lightning_logs/version_92/hparams.yaml
lightning_logs/version_93/events.out.tfevents.1733502191.MPX6162MQ7TW
lightning_logs/version_93/hparams.yaml
lightning_logs/version_94/events.out.tfevents.1733502257.MPX6162MQ7TW
lightning_logs/version_94/hparams.yaml
lightning_logs/version_95/events.out.tfevents.1733502843.MPX6162MQ7TW
lightning_logs/version_95/hparams.yaml
lightning_logs/version_96/events.out.tfevents.1733502899.MPX6162MQ7TW
lightning_logs/version_96/hparams.yaml
lightning_logs/version_97/events.out.tfevents.1733503544.MPX6162MQ7TW
lightning_logs/version_97/hparams.yaml
lightning_logs/version_98/events.out.tfevents.1733503610.MPX6162MQ7TW
lightning_logs/version_98/hparams.yaml
lightning_logs/version_99/events.out.tfevents.1733503890.MPX6162MQ7TW
lightning_logs/version_99/hparams.yaml
test.csv
train.csv
